.App {
  text-align: center;
}
h1 {
  position: relative;
  z-index: 1000;
  color: white;
}
.borderDesign {
  border-color:2px solid #F2B05E;
}
.CardLayOut {
  position: relative;
  width: 550px !important;
  background-color: black !important;
  /* opacity:0.85; */
  font-style: white !important;
}
.header{
  font-family: 'New Tegomin', serif !important;
  color: white !important;
  font-size: 1.6rem !important;
}
.meta,
.description {
  color: white !important;
  font-size: 1.4rem !important;
}
.extra {
  color: white !important;
}
.info {
  color: white !important;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
